@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BioRhyme&display=swap");

:root {
  --color-background-green: rgb(238, 202, 1);
  --color-font-black: #0f2010;
  --color-purple: #620045;
  --color-green: rgba(90, 191, 90, 0.25);
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--color-font-black);
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-background-green);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/88/Gruener_Veltliner_Weinsberg_20060909.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  border: none;
  opacity: 0.15;
}

h1 {
  font-size: 2.12rem;
  text-align: center;
  font-family: "Homemade Apple";
}

h2 {
  font-size: 1.25rem;
  text-align: center;
  font-family: "Homemade Apple";
}

h3 {
  font-size: 1.125rem;
  text-align: center;
  margin-top: 2.5rem;
  color: rgb(7, 100, 48);
}

h4 {
  text-align: center;
  font-family: "Homemade Apple";
}

#header {
  position: -webkit-sticky;
  position: sticky;
  background-color: var(--color-background-green);
  z-index: 2;
  top: 0px;
  margin: 0 0.12rem;
}

body {
  font-family: "BioRhyme", serif;
}

main {
  margin: 0 0.6rem;
}

section {
  margin-top: 5rem;
}

#header-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

img {
  width: 90%;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
}

#logo-text {
  font-weight: bolder;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.5rem;
}

#links {
  list-style-type: none;
  letter-spacing: 2px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.nav-link:link {
  text-decoration: none;
}
.nav-link:visited {
  color: black;
}
.nav-link:hover {
  color: green;
  font-weight: bold;
}
.nav-link:active {
  color: green;
  font-weight: bold;
}

#video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#video {
  max-width: 560px;
  height: auto;
}

.pricing-card {
  border: 2px black solid;
  height: auto;
  margin-bottom: 1.5rem;
  padding: 0 0.5rem;
  /* box-shadow: 5px 5px 2px rgba(5, 80, 5, 0.3); */
}

input {
  border-radius: 4px;
}

button {
  border-radius: 4px;
  border: none;
  background-color: chocolate;
  color: ghostwhite;
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}

footer {
  color: gray;
  font-size: small;
  margin-top: 1.5rem;
  text-align: center;
}
